@import "./reset.css";

@font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
}

@font-face {
    font-family: "YougSerif";
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Variables */
:root {
    --color-stone-100: #f3e6d8;
    --color-stone-150: #e4ded8;
    --color-stone-600: #5f574e;
    --color-stone-900: #302d2c;

    --color-brown-800: #854632;

    --color-pink-800: #7b284f;
    --color-pink-50: #fff5fa;

    --padding-mobile: 0 30px;
}

/* Base */
body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: var(--color-stone-900);
    background: var(--color-stone-100);
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 10px;
}

ul i {
    font-size: 5px;
    line-height: 0;
}

.bold {
    font-weight: 700;
}

/* Main */
.recipe {
    width: 100%; 
    background: white;
}

/* Banner */
.banner {
    margin-bottom: 40px;
}

/* Title */
.recipe__title {
    font-family: "YougSerif", serif;
    font-weight: 400;
    line-height: 32px;
    margin: var(--padding-mobile);
    margin-bottom: 26px;
}

/* Description */
.recipe__description {
    margin: var(--padding-mobile);
    margin-bottom: 40px;
}

/* Preparation Time */
.recipe__preparation {
    margin: var(--padding-mobile);
    padding: 30px;
    background: var(--color-pink-50);
    border-radius: 10px;
    margin-bottom: 32px;
}

.recipe__preparation__title {
    color: var(--color-pink-800);
    margin-bottom: 16px;
}

.recipe__preparation__list li {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 200px;
    margin-bottom: 10px;
}

.recipe__preparation__list i {
    color: var(--color-pink-800);
}

/* Ingredients */
.recipe__ingredients {
    margin: var(--padding-mobile);
}

.recipe__ingredients__title {
    color: var(--color-brown-800);
    font-family: "YougSerif", serif;
    margin-bottom: 12px;
}

.recipe__ingredients__list i {
    color: var(--color-brown-800);
}

.recipe__ingredients__list > li {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 10px;
}