body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Main */
.recipe {
    max-width: 740px;
    padding: 30px;
    margin: 120px 0;
    border-radius: 20px;
}

/* Banner */
.banner img {
    border-radius: 10px;
}

/* Title */
.recipe__title {
    margin-left: 0;
    margin-right: 0;
}

/* Description */
.recipe__description {
    margin-left: 0;
    margin-right: 0;
}

/* Preparation Time */
.recipe__preparation {
    margin-left: 0;
    margin-right: 0;
}

.recipe__preparation__list li {
    max-width: 270px;
}

/* Ingredients */
