@import "./reset.css";

@font-face {
    font-family: "Outfit";
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
    font-weight: 400 700;
    font-style: normal;
}

@font-face {
    font-family: "YougSerif";
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* Variables */
:root {
    --color-stone-100: #f3e6d8;
    --color-stone-150: #e4ded8;
    --color-stone-600: #5f574e;
    --color-stone-900: #302d2c;

    --color-brown-800: #854632;

    --color-pink-800: #7b284f;
    --color-pink-50: #fff5fa;

    --padding-mobile: 0 30px;
}

/* Base */
body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: var(--color-stone-900);
    background: var(--color-stone-100);
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Main */
.recipe {
    width: 100%; 
    background: white;
}

/* Banner */
.banner {
    margin-bottom: 40px;
}

/* Title */
.recipe__title {
    font-family: "YougSerif", serif;
    font-weight: 400;
    line-height: 32px;
    padding: var(--padding-mobile);
    margin-bottom: 26px;
}

/* Description */
.recipe__description {
    padding: var(--padding-mobile);
    margin-bottom: 40px;
}